<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>click link to see tables</h3>
    <a href="/table1">table 1</a>
    <a href="/table2">table 2</a>
    <a href="/">home</a>
    <h3>API guide</h3>
    <p>access subdomain 'table-data' and 'table2-data' to retrieve data directly</p>
    <p>stock image</p>
    <img alt="stock" src="{{ url_for('static', filename='stock.png') }}"></img>
</body>
</html>